@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Nixie+One|Monoton|Knewave|Montserrat:400,600');
:global body,
:global html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

:this[container] {
    display: flex;
    width: 100%;
    height: 100%;
}

:this[aside] {
    width: 270px;
    position: relative;
    transition: .5s ease all;
}

:this[aside-scroll] {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0px .5rem;
    box-sizing: border-box;
    padding-bottom: 1rem;
}

:this[content] {
    flex: 0%;
    overflow-y: auto;
    padding: 50px;
    box-sizing: border-box;
    background: #f1f1f9;
}

:this[aside-toggle] {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
}

:this[aside-hide] {
    margin-left: -270px;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 400;
    font-family: this(fontTitle);
}

p {
    font-family: this(fontContent);
}

a {
    text-decoration: none;
    font-weight: bold;
    color: unset;
}

@media (max-width:720px) {
    :this[content] {
        padding: 1rem;
    }
}